<h2 mat-dialog-title>{{ existingUser ? 'Edit User' : 'Add User' }}</h2>

<mat-dialog-content>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <mat-form-field class="form-field">
        <mat-label>Username</mat-label>
        <input matInput id="user_name" formControlName="user_name">
        <mat-error *ngIf="userForm.get('user_name')?.errors?.['required']">Username is required.</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>First Name</mat-label>
        <input matInput id="first_name" formControlName="first_name">
        <mat-error *ngIf="userForm.get('first_name')?.errors?.['required']">First Name is required.</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Last Name</mat-label>
        <input matInput id="last_name" formControlName="last_name">
        <mat-error *ngIf="userForm.get('last_name')?.errors?.['required']">Last Name is required.</mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput id="email" formControlName="email" type="email">
        <mat-error *ngIf="userForm.get('email')?.errors?.['email']">Invalid email.</mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field class="form-field">
        <mat-label>Status</mat-label>
        <mat-select id="user_status" formControlName="user_status">
          <mat-option value="I">Inactive</mat-option>
          <mat-option value="A">Active</mat-option>
          <mat-option value="T">Terminated</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Department</mat-label>
        <input matInput id="department" formControlName="department">
      </mat-form-field>
    </div>

    <mat-dialog-actions>
      <button mat-button type="button" (click)="onCancel()">Close</button>
      <button mat-button type="submit" [disabled]="userForm.invalid">Submit</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
